


.columna1 {
    float: left;
    padding: 10px;
    height:600px;
    width:50%;
    box-sizing:border-box;
}
.columna2 {
    float: left;
    padding: 10px;
    width:50%;
    height:600px;
    box-sizing:border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 890px){
  .columna1 {
      float: left;
      width: 100%;
      padding: 10px;
      height:auto;
      box-sizing:content-box;
  }
  .columna2 {
      float: left;
      width: 100%;
      padding: 10px;
      height:auto;
      box-sizing: content-box;
  }
}
