/*OVERLAY*/
.overlay2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color:#A1A1A1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.2s;
}

.overlay2-content {
    position: relative;
    top: 10%;
    left:10%;
    width: 90%;
    text-align:left;
}

.overlay2 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #A1A1A1;
    display: block;
    transition: 0.3s;
}

.overlay2 p {
    color: #CCCCCC;
}

.overlay2 a:hover, .overlay2 a:focus {
    color: #f1f1f1;
}

.overlay2 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 580px){
  
.overlay-content {
    margin-top: 5px;
    margin-left: 5px;
    left: 3%;
}
.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
}
}
