body{
  text-align: center;
  background-image: url(img/background3.jpg);
  background-repeat:no-repeat;
  background-attachment: local;
  image-orientation: center;
  font-family: arial;
  margin: 0
  padding: 0
}
header {
  background-color:;
  width: 100%;
  text-align: center;
  color:#F36329;
  line-height: 0.9em;
}

a{
  text-decoration: none;
  color: #494949
}

nav ul{
  background-color:;
  overflow: hidden;
  color:#000;
  padding: 10px;
  margin:0px;
  text-align: center;
}

nav ul li {
  display: inline-block;
  background-color:#CCCCCC;
  padding: 11px;
  color: #615F60;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid #797979;
  font-family: arial;
}
nav ul li:hover{
  background-color: #00ADEF;
  color: #615F60;
}
section{
  text-align: left;
  background-color:#DFDFDF;
  width: auto;
  padding: 0.1px 10px;
  margin:0;
  border-radius: 15px;
}

img {
  max-width: 100%;
  height: auto;
  image-orientation: center;
  padding:5px;
}

p {
  color:#484546;
  font-family: sans-serif;
  font-size: 110%;
  padding:5px;
}
.container{
  max-width:960px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

@media screen and (max-width: 580px){
  .container{
    width: auto;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

  nav ul li{
    display:block;
    padding:3px 7px;
    text-align: left;
    border: 1px solid #00ADEF;
  }

  section{
    width: auto
  }
}
